** FOFE *******************************************************
** FOFE                                          PLACE_HOLDER
** NN_BINARY_CLASSIFIER_NMODELS                  PLACE_HOLDER 
** NN_BINARY_CLASSIFIER_NCLASS1                  PLACE_HOLDER
** NN_BINARY_CLASSIFIER_THRESHOLD                PLACE_HOLDER

** OUTPUT *************************************************************
** PATH_RESULTADO                                PLACE_HOLDER/it_{}


** SIMULADOR **********************************************************
SIMULADOR_NOME                                IMEX
SIMULADOR_VERSAO                              '2017.10'


** INICIALIZACAO ******************************************************
** RESUME - DEFAULT
INICIALIZACAO_TYPE                            DEFAULT
INICIALIZACAO_DOMINIO                         base/dominio.csv


** OTIMIZACAO *********************************************************
** ACOPLADO - MCC - IDLHC - PYMOO_DE - PYMOO_GA - PYMOO_NSGA3 - PSO - ABC - TABUSEARCH
OTIMIZACAO_TYPE                               IDLHC
** OTIMIZACAO_IDLHC_AMOSTRAS_ITERACAO            PLACE_HOLDER
** OTIMIZACAO_IDLHC_AMOSTRAS_PDF                 PLACE_HOLDER


** AVALIACAO **********************************************************
** MERO - SPHERE - RASTRIGIN - ROSENBROCK - CLUSTERING - KNAPSACK
AVALIACAO_TYPE                                SPHERE
AVALIACAO_PATH_MELHORES                       MELHORES
AVALIACAO_MELHORES_QTD_SALVAR                 5


** [MAX - MIN] SPHERE - RASTRIGIN - ROSENBROCK - CLUSTERING - KNAPSACK - [VPL + VME + WP + NP + WI + GI][Funcao ( 2 * VPL + WP - NP^2 )]
AVALIACAO_DIRECAO_OF                           MAX SPHERE


** MERO ***************************************************************
AVALIACAO_MERO_EXECUTAVEL                     C:\\PROGRA~1\\UNISIM\\MERO\\2020.4.0\\cli\\meroc
AVALIACAO_MERO_ECO_REFERENCE_DATE             '28/02/2018'
AVALIACAO_MERO_UNIMAP_PATH                    ..\\base\\U2DBO_IM80.unimap
AVALIACAO_MERO_UNIECO_PATH                    ..\\base\\U1D-CONCESSION_SYSTEM_IW.unieco#1
AVALIACAO_MERO_GEVT_TEMPLATE                  ..\\base\\gevt.mero#..\\base\\U2DBO_IM80_E0_WAG_IW.tpl#1
AVALIACAO_MERO_TEMPO_MAX_SIM                  24


** CRITERIO PARADA ****************************************************
** ITERACOES_MAX - VARIACAO_OF - SIMULACOES_MAX - QTD_SOLUCAO_NOVA
** CRITERIO_PARADA                               PLACE_HOLDER
** CRITERIO_PARADA_ITERACOES                     PLACE_HOLDER
