VISUALIZACAO_TYPE COMPARACAO
VISUALIZACAO_COMPARACAO_MAX_AVALIACOES 3000
VISUALIZACAO_COMPARACAO_BOXPLOT_AVALIACOES 500#1000#1500#3000
VISUALIZACAO_COMPARACAO_PATH_RESULTADO_NOME D:\tardis_resultados\Resultado_1_amostras_150_pdf_30.csv#metodo1
VISUALIZACAO_COMPARACAO_PATH_RESULTADO_NOME D:\tardis_resultados\Resultado_2_amostras_150_pdf_30.csv#metodo1
VISUALIZACAO_COMPARACAO_PATH_RESULTADO_NOME D:\tardis_resultados\Resultado_3_amostras_50_pdf_10.csv#metodo2
VISUALIZACAO_COMPARACAO_PATH_RESULTADO_NOME D:\tardis_resultados\resultado1_200_30.csv#metodo3
VISUALIZACAO_COMPARACAO_PATH_SAIDA D:\tardis_resultados\comparacao.html
