** SIMULADOR **********************************************************
SIMULADOR_NOME  							IMEX
SIMULADOR_VERSAO 							'2016.10'
PATH_SIMULACAO 								simulacao
PATH_RESULTADO 								resultado\\iteracao_{}


** INICIALIZACAO ******************************************************
** - RESUME - DEFAULT
INICIALIZACAO_TYPE 							DEFAULT
INICIALIZACAO_DOMINIO 						..\\base\\dominio.csv
INICIALIZACAO_SIMULA_BASE					FALSE
INICIALIZACAO_RESUME_PATH    				resultado\\iteracao_000.rst


** OTIMIZACAO *********************************************************
** - ACOPLADO - MCC - IDLHC - PYMOO_DE - PYMOO_GA - PYMOO_NSGA3 - PSO - ABC - TABUSEARCH
OTIMIZACAO_TYPE						        PYMOO_NSGA3
OTIMIZACAO_MCC_VARIAVEIS_ITERACAO 	        5
OTIMIZACAO_MCC_ORDEM_VARIAVEL_ALEATORIA     False
OTIMIZACAO_IDLHC_AMOSTRAS_ITERACAO	        100
OTIMIZACAO_IDLHC_AMOSTRAS_PDF 		        20
OTIMIZACAO_IDLHC_CORTE_PDF					0.1
OTIMIZACAO_PYMOO_POPULATON 			        100
OTIMIZACAO_PSO_QTD_POPULACAO		        100
OTIMIZACAO_ABC_FONTE_ALIMENTO               50
OTIMIZACAO_TABUSEARCH_NUMERO_AMOSTRAS       100
OTIMIZACAO_TABUSEARCH_TAMANHO_TABU_LIST     20
OTIMIZACAO_TABUSEARCH_VARIAVEIS_ITERACAO    5
OTIMIZACAO_ACOPLADO_OTIMIZACAO_TYPE         IDLHC
OTIMIZACAO_ACOPLADO_OTIMIZACAO_TYPE         MCC
OTIMIZACAO_ACOPLADO_SIMULACOES_MAX          1000


** AVALIACAO **********************************************************
** - MERO - PYTHON - WAHOO - SPHERE - RASTRIGIN - ROSENBROCK - CLUSTERING - KNAPSACK - CAMPO_NAMORADO_NUMERO_POCOS - CAMPO_NAMORADO_POSICIONAMENTO
AVALIACAO_TYPE 								MERO
AVALIACAO_PATH_MELHORES                    	melhores
AVALIACAO_MELHORES_QTD_SALVAR              	5
AVALIACAO_PYTHON_PATH                       ..\\base\\rastrigin.py
AVALIACAO_WAHOO_PATH        				/mnt/ALU/MS_RJN/5.fonte/tardis_wahoo/src/avaliacao/wahoo/?.lua
** [MAX - MIN] PYTHON - WAHOO - SPHERE - RASTRIGIN - ROSENBROCK - CLUSTERING - KNAPSACK - [VPL + VME + WP + NP + WI + GI][Funcao ( 2 * VPL + WP - NP^2 )]
**AVALIACAO_DIRECAO_OF                    	MAX ( 2 * VPL + WP - NP^2 )
**AVALIACAO_DIRECAO_OF                    	MIN SPHERE
AVALIACAO_DIRECAO_OF                    	MAX VPL
AVALIACAO_DIRECAO_OF                    	MIN WI

** MERO ***************************************************************
**AVALIACAO_MERO_EXECUTAVEL					/opt/UNISIM/MERO/x86_64/2020.4.0/cli/meroc
AVALIACAO_MERO_EXECUTAVEL					C:\\PROGRA~1\\UNISIM\\MERO\\2020.4.0\\cli\\meroc
**AVALIACAO_MERO_LIC                        C:\\
AVALIACAO_MERO_ECO_REFERENCE_DATE 			'31/05/2017'
AVALIACAO_MERO_UNIMAP_PATH 					..\\base\\MR9_img105_E1_v1_3.unimap
AVALIACAO_MERO_UNIECO_PATH 					..\\base\\U1D-ECO_provavel.unieco#1
AVALIACAO_MERO_GEVT_TEMPLATE 				..\\base\\gevt.mero#..\\base\\Otm_img105.tpl#1
AVALIACAO_MERO_TEMPO_MAX_SIM            	2
**AVALIACAO_MERO_TEMPOS_G2_PATH          	..\\base\\tempos_g2.txt somente para gerenciamento
**AVALIACAO_MERO_GEP_INCLUDE_PATH           ..\\base\\gep.mero      somente para include de gep
**AVALIACAO_MERO_MAX_OIL_PRO                100
**AVALIACAO_MERO_MAX_WATER_PRO              100
**AVALIACAO_MERO_MAX_GAS_PRO                20
**AVALIACAO_MERO_MAX_LIQUID_PRO             50
**AVALIACAO_MERO_MAX_WATER_INJ              20
**AVALIACAO_MERO_TOLERANCE                  0.0001
**AVALIACAO_MERO_DS_PARAMS                  -l INFO -t hpc01 -s TORQUE -p 8 -n 1 -q normal --no-wait


** REDUCAO **********************************************************
** - FALSE  - FSM
REDUCAO_TYPE								FALSE
REDUCAO_QUANTIDADE_SIMULACAO_TOTAL			100
REDUCAO_RANK_ANALISE						20
REDUCAO_MERO_GEVT_MARCAS_PATH				..\\base\\gevt_marcas.mero
REDUCAO_GEVT_DATA_FINAL             		'31/12/2031'


** CRITERIO PARADA ********************************************
** + ITERACOES_MAX + VARIACAO_OF + SIMULACOES_MAX + QTD_SOLUCAO_NOVA
CRITERIO_PARADA								SIMULACOES_MAX
**CRITERIO_PARADA 							ITERACOES_MAX
**CRITERIO_PARADA							VARIACAO_OF
CRITERIO_PARADA								QTD_SOLUCAO_NOVA
CRITERIO_PARADA_QTD_SOLUCAO_NOVA			0
CRITERIO_PARADA_SIMULACOES_MAX 				300
CRITERIO_PARADA_VARIACAO_FO 				0.01
CRITERIO_PARADA_ITERACOES 					15
